@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;500&display=swap");
/* light -> 300 _-_ medium -> 500  */

@font-face {
	font-family: "ITC Franklin Gothic S Book";
	src: url("resources/ITC\ Franklin\ Gothic\ Std\ Book.otf");
}
@font-face {
	font-family: "ITC Franklin Gothic S Medium";
	src: url("resources/ITC\ Franklin\ Gothic\ Std\ Medium.otf");
}

html {
	/*height: 90vh;*/
	/*height: -webkit-fill-available;*/
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 70);
}

body {
	background-color: black;
	color: white;
	font-family: "Libre Franklin", sans-serif;
	/* font-family: "ITC Franklin Gothic S Book"; */
	font-weight: 300;
	font-size: 2.25vh;
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 90);
    letter-spacing: 1pt;
	/*min-height: -webkit-fill-available;*/
}

a {
	color: white;
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 82vh;
	margin-top: 4vh;
	margin-left: 6vw;
	margin-right: 6vw;
}

.main-menu {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-top: auto;
	margin-bottom: auto;
}

.title {
	font-family: "Times New Roman", Times, serif;
	font-weight: 500;
	font-size: 10vmin;
	text-align: center;
	margin-bottom: 20vh;
}

.start-btn {
	font-family: "Material Icons";
	border: 2px solid rgba(255, 255, 255, 0.9);
	border-radius: 50%;
	width: 7.5vh;
	height: 7.5vh;
	line-height: 7.5vh;
	font-size: 7vh;
	font-weight: 500;
	text-align: center;
	margin-bottom: 15vh;
}

/*****/

.lang-btn {
	font-size: 4vmin;
	letter-spacing: 1vw;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tg {
	border-collapse: collapse;
	border-spacing: 0;
}
.tg td {
	border-style: none;
	overflow: visible;
	padding: 0.9vh;
    width: 50%;
}
.tg th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}
.tg .tg-baqh {
	text-align: center;
	vertical-align: top;
}
.tg-baqh2 {
	text-align: center;
	vertical-align: top;
	flex: 0 1 8vh;
	border: 2px solid white;
	border-radius: 50%;
	width: 7vh;
	height: 7vh;
	line-height: 7vh;
	margin-top: 4vh;
	font-size: 3vh;
	font-weight: 500;
}

.proy-menu {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin-top: auto;
	margin-bottom: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.proy-btn {
	display: block;
	width: 7.5vh;
	height: 7.5vh;
	line-height: 7.5vh;
	border: 1px solid white;
	border-radius: 50%;
	margin: auto;
	font-size: 3vh;
	font-weight: 500;
	text-align: center;
}

.proy-txt {
	margin-top: 2vh;
	font-size: 2.2vh;
	transform: scale(0.9,1);
	letter-spacing: 0.5vw;
}

#mp {
	background-color: white;
	color: black;
}
/******/

.player {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.expo-info {
	flex: 1;
	font-size: 1.8vh;
	line-height: 18pt;
	letter-spacing: 0.3vw;
	margin-bottom: 5vh;
}

.player-proy-txt {
	flex: 0;
	margin-bottom: 2vh;
	letter-spacing: 0.4vw;
}

.expo-author {
	/* font-family: "ITC Franklin Gothic S Medium"; */
	font-weight: 500;
}

.progress-container {
	flex: 2;
}

.progress-bar {
	border-radius: 5px;
	margin-top: 6vh;
    height: 6pt;
	width: 100%;
    align-items: center;
    overflow-y: visible;
    display: inline-block;
}

.progress-remaining {
    position: relative;
    top: 5px;
    height: 2px;
    background-color: #888;
    width: 100%;
}

.progress {
    position: relative;
    top: 2px;
	height: 4px;
	background-color: #fff;
	border-radius: 5px;
	width: 0%;
	transition: width 1s linear;
	/* visibility: hidden; */
}

.progress-circle{
    position: relative;
    bottom: 8px;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    left: 0px;
    transition: left 1s linear;
	/* visibility: hidden; */
}

.time-info {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	font-weight: 500;
	font-size: 1.8vh;
	margin-top: 2vh;
}

.caption {
	flex: 3 0 17vh;
	overflow-wrap: normal;
	font-size: 2.3vh;
	font-weight: 500;
	transform: scale(0.9, 1);
	letter-spacing: 0.5vw;
	transform-origin: left;
}

.btn-container {
	display: inline-flex;
	flex-direction: row;
	align-content: space-between;
	width: 100%;
}

.sep {
	flex: 1;
}

.menu-btn {
	letter-spacing: 0.5vw;
}

/*
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
*/

/***********/

#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000; /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

#overlay-icon {
	position: absolute;
	text-align: center;
	font-family: "Material Icons";
	top: 66%;
	left: 50%;
	font-size: 6vh;
	color: white;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	border: 2px solid rgba(255, 255, 255, 0.9);
	border-radius: 50%;
	width: 8vh;
	height: 8vh;
	line-height: 8vh;
}

#overlay-text {
	position: absolute;
	text-align: center;
	top: 33%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	font-size: 14pt;
}
